<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:networkSecurityConfig="@xml/cathedral_network_security">
        <meta-data
            android:name="org.godotengine.plugin.v2.${godotPluginName}"
            android:value="${godotPluginPackageName}.CathedralAndroidPlugin" />

        <receiver
            android:name="${godotPluginPackageName}.CathedralWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/cathedral_widget_info" />
        </receiver>
    </application>
</manifest>
