<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:networkSecurityConfig="@xml/cathedral_network_security">
        <meta-data
            android:name="org.godotengine.plugin.v2.${godotPluginName}"
            android:value="${godotPluginPackageName}.CathedralAndroidPlugin" />
    </application>
</manifest>
